.layout-item 
    &__image
        aspect-ratio: 4/3
        position: relative
        margin: 0

        ion-img
            position: absolute
            inset: 0
            object-fit: cover
    
    &__content
        padding: 40px 20px

        &__title
            margin-top: 0;