ion-card
    border-radius: 0

    &-header
        background-color: var(--ion-color-secondary)

    &-title 
        --color: var(--ion-color-dark)
        font-size: 1.15em
        font-family: var(--text-secondary)
        font-weight: 400